Django==6.0.3
djangorestframework==3.17.1
django-cors-headers==4.9.0
django-filter==25.2
gunicorn==23.0.0
whitenoise==6.8.2
psycopg2-binary==2.9.11
python-dotenv==1.0.0
pycasbin==2.0.0
mozilla-django-oidc==5.0.2
requests==2.33.1
PyJWT==2.12.1
python-keycloak==7.1.1
paho-mqtt==2.1.0
pycryptodome==3.23.0